/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e6e6e6;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #3e5c94; /* Dark blue background */
    border-radius: 50%; /* Makes the oval shape */
}
.logo-text {
    font-size: 60px;
    font-weight: bold;
    color: #ECE52C;
    font-family: Arial, sans-serif;
    
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar button {
    padding: 8px;
    border: none;
    background-color: #FFD700;
    color: #333;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.user-cart {
    display: flex;
    gap: 20px;
    align-items: center;
}

.user-cart .login, .user-cart .cart {
    color: #333;
    cursor: pointer;
}

/* Navigation Bar */
nav {
    background-color: #0078d7;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
