/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

/* Header */
.icon {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    vertical-align: middle;
    margin-right: 5px; /* Space between icon and text */
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e6e6e6;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #3e5c94; /* Dark blue background */
    border-radius: 50%; /* Makes the oval shape */
    
}
.logo-text {
    font-size: 60px;
    font-weight: bold;
    color: #ECE52C;
    font-family: Arial, sans-serif; 
}
.user-cart a {
    text-decoration: none;
    color: black;
}

.search-bar {
    display: inline-flex; /* Set to inline-flex to keep them on the same line */
    align-items: center;
}
.search-bar form {
    display: flex; /* Align input and button inline */
    align-items: center;
}

.search-bar input[type="text"] {
    flex: 1; /* Allows the input to take up available space */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 500px;
}

.search-bar button {
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove default padding */
    border: none;
    background-color: #ECE52C; /* Match background to input if necessary */
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}
.search-icon {
    width: 20px; /* Adjust the size as needed */
    height: 20px;
    margin:5px;
   
}

    /* Header */
.icon {
    width: 20px; /* Adjust size as needed */
    height: 20px;
    vertical-align: middle;
    margin-right: 5px; /* Space between icon and text */
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e6e6e6;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #3e5c94; /* Dark blue background */
    border-radius: 50%; /* Makes the oval shape */
}
.logo-text {
    font-size: 60px;
    font-weight: bold;
    color: #ECE52C;
    font-family: Arial, sans-serif;
    
}

.user-cart {
    display: flex;
    gap: 20px; /* Space between login and cart sections */
}

.login, .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

}

/* Navigation Bar */
nav {
    background-color: #0078d7;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

nav ul li {
    color: black;
    cursor: pointer;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
